footer{
  //background-color: var(--light-blue);
  padding: 32px;
  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-menu{
    li{
      a{
        color: var(--dark-blue);
        &:hover{
          color: var(--blue);
        }
      }
    }
  }
}
