*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --black : #000;
  --white : #fff;
  --blue : #39ACE7;
  --dark-blue : #0784B5;
  --light-blue : #CADEEF;
  --font : "Poppins", sans-serif;

}
html,
body {
  height: 100%;
}

body{
  font-size: 16px;
  font-family: var(--font);
  background: linear-gradient(180deg, var(--dark-blue) 0%, var(--light-blue) 100%);
}

#root {
  min-height: 100%;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content{
  flex: 1 0 auto;
}


h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6{
  color: var(--white);
}

h1,.h1{}
h2,.h2{}
h3,.h3{}
h4,.h4{}
h5,.h5{}
h6,.h6{}

button,.button{
  padding: 10px 20px;
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 48px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 16px;
  font-family: var(--font);
  &:hover{
    color: var(--blue);
    border-color: var(--blue);
    background-color: var(--white);
    font-weight: 700;
  }
}

a{
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu{
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

